*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.nav{
    width: 100%;
    color: white;
    /* background-color: rgb(18, 86, 146); */
}

.nav .nav-img {
    width: 2.5%;
    float: left;
    margin: 5px 0px 0px 5px;
}

.nav .nav-img img{
    width: 40px;
    height:40px;
    border-radius: 50%;
}
.nav input{
    border-radius: 10px;
    padding: 7px 75px 7px 7px;
    margin: 7px;
}

.nav .nav-links{
    float: right;
    width: 30%;
    margin: 15px 10px 5px 0px;
}

.nav .nav-links ul li{
    float: right;
    list-style: none;
    padding: 0px 20px 0px 25px ;
}

.clear{
    clear: both;
}

.section{
    width: 100%;
}

.section .card1,.section .card2,.section .card3,.section .card4,.section .card5{
    width: 15%;
    height: 270px;
    border-radius: 20px;
    float: left;
    margin: 87px 15px 35px 28px;
    padding: 8px;
    
}

.section .card1{
    background-image: url("image/download.jfif");
    background-size: cover;
}

.section .card2{
    background-image: url("image/back2.jfif");
    background-size: cover;
}

.section .card3{
    background-image: url("image/back3.png");
    background-size: cover;
}

.section .card4{
    background-image: url("image/back4.jfif");
    background-size: cover;
}

.section .card5{
    background-image: url("image/back5.jfif");
    background-size: cover;
}

.section #cardid .card-img{
    width: 100%;
    margin: 10px;
}

.section #cardid .card-img img{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer{
    background-color: rgb(49, 47, 47);
    position: fixed;
    width: 98%;
    bottom: 0;
    left: 0;
    margin: 15px;
}

.footer .footer-img{
    float: left;
}

.footer .footer-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer input{
    border-radius: 8px;
    padding: 5px 900px 5px 10px;
    margin: 12px 0px 5px 7px;
}